<!DOCTYPE html>
<html>

<head>
    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid rgb(10, 1, 1);
            font-size: 16px;
        }

        h1 {
            color: red;
        }

        p {
            color: blue;
        }
    </style>
</head>

<body>
    <div>

        <div class="invoice-box">
            <p>jdnjsdvjvjlnfljvf
                bfdbdfbds
                bds
                bddfdfdfdfdf
                fddfdfdddf
                fdfdfdfdfdf
                dfdfdfdfdf
                dfdfdfdfdfdf
            </p>
            <h1>jgjfdg fgndflgndfg
                dfgdf
            </h1>
            <img src="http://localhost:3000/qqqq.jpg">
        </div>
    </div>
</body>

</html>